
<h1>My tasks to do</h1>

<ul id="tasks">
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed? %>
      <i class="fa-regular fa-square-check"></i>
    <% else %>
      <i class="fa-regular fa-square"></i>
    <% end %>
</ul>
